@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
}

body {
    width: 100%;
    min-height: 100vh;
    min-width: 370px;
}
input:disabled {
    background-color: inherit;
}

// Variables

$poppins: "Poppins", sans-serif;
$playfair: "Playfair Display", sans-serif;

$desktop: 1200px;
$tablet-lg: 1024px;
$tablet: 768px;
$phone-lg: 600px;
$phone: 450px;

$white: #fefefe;
$black: #211f20;
$gray-dark: #9e9e9e;
$gray: #e0e0e0;
$gray-light: #eeeeee;
$green-dark: #84a017;
$green-light: #b5d557;
$red-dark: #d22326;
$red-light: #fc443f;
$blue-dark: #dae2e5;
$blue-light: #78b5d4;
