h6.section-heading {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 6em;
    color: $gray-dark;
}

h2.section-title {
    color: $black;
    font-size: 4em;
    font-family: $playfair;
    margin-bottom: 1em;
    line-height: 1.5;
    @media all and (max-width: $tablet) {
        font-size: 3em;
    }
}
